:host{
    display: flex;
    width: var(--cell-size);
    height: var(--cell-size);

    align-items: center;
    justify-content: center;

    font-size: 2rem;
    font-weight: bold;
    color: white;
    user-select: none;
}