:host{
    display: flex;
    width: 52px;
    height: 52px;

    align-items: center;
    justify-content: center;

    font-size: 2rem;
    font-weight: bold;
    color: #ffffff;
    user-select: none;
}