:host{
    display: flex;
    flex-direction: column;
    gap: 15px
}

.circle{
    width: 40px;
    height: 40px;
    border-radius: 100%;

    transition: transform 0.25s ease;
}

.correct {background-color: var(--color-correct);}
.present {background-color: var(--color-present);}
.absent {background-color: var(--color-absent); }

.selected{
    border: solid 2px white;
    transform: scale(1.20)
}