:host{
    --tool-size: 40px;
    display: flex;
    flex-direction: column;
    gap: 15px
}

.circle{
    width: var(--tool-size);
    height: var(--tool-size);
    border-radius: 100%;

    transition: transform 0.25s ease;
}

.correct {background-color: var(--color-correct);}
.present {background-color: var(--color-present);}
.absent {background-color: var(--color-absent); }

.trash{
    fill: var(--color-font);
    width: var(--tool-size);
}

.selected{
    border: solid 2px var(--color-font);
    transform: scale(1.20)
}