*,
*::before,
*::after{
    box-sizing: border-box;
}

body{
    margin: 0;
    background-color: var(--color-background);
}

input[type="button"], input[type="submit"], input[type="reset"] {
	background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}

:root{
    --color-correct: #538d4e;
    --color-present: #b59f3b;
    --color-absent: #3a3a3c;

    --color-button: #818384;
    --color-button-hover: #757575;

    font-family: Arial, Helvetica, sans-serif;

    @media (prefers-color-scheme: dark) {
        --color-font: #ffffff;
        --color-background: #000000;
    }
}