:host{    
    --toolbar-gap: -75px;

    padding: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main{
    width: fit-content;
    display: flex;
    gap: 20px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

h1{
    margin: 0;
}

.editor{
    position: relative;
    & app-toolbar{
        position: absolute;
        top: 10px;
        left: var(--toolbar-gap);
    }
}

form{
    width: 100%;

    display: flex;
    align-items: center;
    position: relative;

    gap: 15px
}

.sync-today{
    position: absolute;
    left: var(--toolbar-gap);
}

.word-input{
    width: 7rem;
    text-align: center;
}

input[type="submit"] {
    flex: 1;
    padding: 12px;
    font-size: 1.5rem;
    background-color: var(--color-button);

    font-weight: bold;
    color: var(--color-font);
}

.errors{
    color: red;
}