:host{
    padding: 30px;
    display: flex;
    gap: 20px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

h1{
    margin: 0;
}

form{
    display: flex;
    align-items: center;

    gap: 15px
}

.word-input{
    width: 7rem;
    text-align: center;
}

.generate-button{
    padding: 12px;
    font-size: 1.5rem;
    background-color: var(--color-button);

    font-weight: bold;
    color: var(--color-font);
    &:hover{
        background-color: var(--color-button-hover);
    }
}

.errors{
    color: red;
}