:host{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.generateButton{
    padding: 20px;
    font-size: 1.5rem;
    background-color: var(--color-button);

    font-weight: bold;
    color: var(--color-font);
    &:hover{
        background-color: var(--color-button-hover);
    }
}