:host{    
    --toolbar-gap: -75px;

    width: 100%;
    height: 100%;

    padding: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main{
    width: calc(var(--cell-size) * 5 + var(--cell-gap) * 4);
    display: flex;
    gap: 20px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

h1{
    margin: 0;
}

.editor{
    display: flex;
    flex-direction: column;
    position: relative;

    @media(width >= 500px)
    {
        & app-toolbar{
            position: absolute;
            top: 10px;
            left: var(--toolbar-gap);
        }
    }
    @media(width < 500px)
    {
        gap: 20px;
        /* Rest of media is in toolbar.css*/
    }
}

form{
    width: 100%;

    display: flex;
    align-items: center;
    position: relative;

    gap: 15px;
}

.sync-today{
    & svg{
        fill: var(--color-font);
    }

    @media(width >= 500px)
    {
        position: absolute;
        left: var(--toolbar-gap);
    }
}

.word-input{
    flex: 1 1 6rem;
    min-width: 0;
    text-align: center;
}

input[type="submit"] {
    padding: 12px;
    font-size: 1.5rem;
    background-color: var(--color-correct);

    font-weight: bold;
    color: var(--color-font);
}

.errors{
    color: red;
}